
  body {
    background: yellow;   /* #f8f9fa */
  /*  padding-top: 70px; */
  }

  pre {
    background: #1e1e1e;
    color: #f8f8f2;
    padding: 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    overflow-x: auto;
  }

  .hero {
    padding-top: 20px;
    background-color: #006400; /* Bootstrap primary blue */

  }

  .bg-boja {
    background-color: green;
  }

  .toc {
    position: sticky;
    top: 90px;
  }

  .toc a {
    display: block;
    padding: 6px 0;
    text-decoration: none;
    color: #333;
    font-size: 0.95rem;
  }

  .toc a:hover {
    color: #0d6efd;
  }

  @media (max-width: 768px) {
    .toc {
      position: static;
      margin-top: 2rem;
    }
  }


